name: Build Sway Autotiling

on:
  push:
    branches: ["master", "main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Update Rust Toolchain
        run: rustup update stable && rustup default stable

      - name: Build Release
        run: cargo build --release --verbose

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: autotiling-rs
          path: target/release/autotiling-rs
          retention-days: 5
